language: php

sudo: false

cache:
  directories:
    - $HOME/.composer/cache

php:
  - 7.4
  - 7.3
  - 7.2

services:
  - mysql

matrix:
  fast_finish: true
  allow_failures: false

before_install:
  - mysqladmin --user=root password 'root'
  - mysql --user=root --password=root -e 'CREATE DATABASE IF NOT EXISTS wordpress_develop;'

install:
  - composer install
  - composer dumpautoload -o
  
script:
  - vendor/bin/phpspec run
  - vendor/bin/phpunit
